body {
  background-image: url(/images/uploaded/template_images/site_background_fade.png) !important;
  background-repeat: repeat-x;
  background-color: #FFFFFF !important;
}

textarea, input {
	color: #584E3B;
	font-family: verdana;
}

#client_login input, #pass_label {
	font-family: arial;
}


div.header {
  background-color: #5d523d !important;
  background-image: none;
  height: 90px;
  width: 211px !important;
}
div.header div {
  width: 211px !important;
}
div.header img {
  margin-top: 12px;
  margin-left: 8px;
}
div.mainMenu {
  width: 744px !important;
  float: right;
  margin-top: -63px;
}

#MainNav { background-color: #5D523D; height: 30px; padding: 15px 0 0  15px; }
#MainNav a {
  float: left; 
  height: 13px; 
  margin-left: 20px;
  background-image: url("/templates/truepointinc/images/main-nav-sprite.gif");
  background-repeat: no-repeat;
  overflow: hidden;
}
#MainNav a.firm-profile { background-position: 0px 0px; width: 67px; }
#MainNav a.firm-profile:hover, body.firm-profile #MainNav a.firm-profile { background-position: 0px -14px; }
#MainNav a.service-offerings { background-position: -86px 0px; width: 100px; }
#MainNav a.service-offerings:hover, body.service-offerings #MainNav a.service-offerings { background-position: -86px -14px; }
#MainNav a.investment-approach { background-position: -206px 0px; width: 128px; }
#MainNav a.investment-approach:hover, body.investment-approach #MainNav a.investment-approach { background-position: -206px -14px; }
#MainNav a.financial-education { background-position: -354px 0px; width: 115px; }
#MainNav a.financial-education:hover, body.financial-education #MainNav a.financial-education { background-position: -354px -14px; }
#MainNav a.in-the-news { background-position: -489px 0px; width: 72px; }
#MainNav a.in-the-news:hover, body.in-the-news #MainNav a.in-the-news { background-position: -489px -14px; }
#MainNav a.careers { background-position: -580px 0px; width: 44px; }
#MainNav a.careers:hover, body.careers #MainNav a.careers { background-position: -580px -14px; }
#MainNav a.contact-us { background-position: -643px 0px; width: 63px; }
#MainNav a.contact-us:hover, body.contact-us #MainNav a.contact-us { background-position: -643px -14px; }

#logoNav { height: 61px; }
#LogoNav a, #LogoNav img { float: left; border: none; }
#LogoNav a { height: 61px; }
#LogoNav a.tpfo { width: 175px; background: transparent url(/templates/truepointinc/images/logo-nav-tpfo-sprite.png) no-repeat 0px 0px; }
#LogoNav a.tpfo:hover { background-position: 0px -61px; }
#LogoNav a.tpc { width: 175px; background: transparent url(/templates/truepointinc/images/logo-nav-tpc-sprite.png) no-repeat 0px 0px; }
#LogoNav a.tpc:hover { background-position: 0px -61px; }
#LogoNav a.tpf { width: 170px; background: transparent url(/templates/truepointinc/images/logo-nav-tpf-sprite.png) no-repeat 0px 0px; }
#LogoNav a.tpf:hover { background-position: 0px -61px; }

div.mainMenu ul#menu {
  background-image: none !important;
  background-color: #5D523D !important;
  width: auto;
  list-style: none;
}
div.mainMenu ul#menu a:link, div.mainMenu ul#menu a:visited {
  font-family: "Myriad Pro" !important;
}
div.mainMenu ul#menu a:hover {
  background-color: #5D523D !important;
}
.content table {
  margin-bottom: 25px;
}
div.contentArea {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 952px;
  height: 316px;
}
div.contentArea div.hcontent1 {
  height: 255px;
  width: 952px;
}
div.contentArea div.hcontent1 div { 
  width: 285px; 
  float: right; 
  margin: 70px 29px 0 0;
  line-height: 18px;
  position: relative;
}
div.contentArea div.hcontent1 div div {
  margin: 0;
  position: absolute;
}
div.contentArea div.hcontent1 div div.slide {
  display: none;
}
div.contentArea div.hcontent1 div div.slide h3 {
  font-family: arial;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 10px;
}
div.contentArea div.hcontent1 div div.slide p {
  line-height: 19px;
}
div.contentArea div.hcontent1 div div.active {
  display: block;
}
div.contentArea div.hcontent1 div h2 {
  font-family: "Myriad Pro";
  font-weight: normal;
  color: #3f392c;
  margin-top: 0;
  padding-top: 0;
}
div.contentArea div.hcontent1 div p {
  font-family: verdana;
  color: #3f392c;
  font-size: 11px;
}

div.hcontent2 {
  height: 61px;
}
div.contentArea2 {
  clear: left;
}
div.contentArea2 table, div.contentArea2 {
  width: 952px !important;
}
td.hcontent3 {
  height: 238px;
  width: 635px;
  background-image: url(/images/uploaded/template_images/pop_news_background.png) !important;
  background-repeat: no-repeat;
}
td.hcontent3 div.leftBox {
  width: auto !important;
}
td.hcontent3 h1 {
  font-family: "Myriad Pro";
  color: #7c7361;
  margin: 25px 0 0 30px;
}
td.hcontent3 ul {
  margin: 10px 0 0 -8px;
}
td.hcontent3 ul li:first-child {
  border-top: none;
}
td.hcontent3 ul li {
  list-style-image: url("/images/uploaded/template_images/bullet_news.png");
  font-family: verdana;
  font-size: 11px !important;
  line-height: 30px;
  list-style-position: inside;
  width: 93%;
  border-top: solid 1px #d1c9b2;
  color: #766f62;
}
td.hcontent3 ul li a:link, td.hcontent3 ul li a:visited {
  color: #cc6600;
  font-family: verdana;
  font-size: 11px;
}
td.hcontent3 ul li a:hover {
  
}
td.hcontent4 {
  display: none !important;
}
td.hcontent5 {
  width: 317px;
  background-image: url(/images/uploaded/template_images/pop_events_background.png) !important;
  background-repeat: no-repeat;
}
td.hcontent5 h1 {
  font-family: "Myriad Pro";
  color: #7c7361;
  margin: 25px 0 7px 20px;
}
td.hcontent5 div.leftBox p {
  font-family: verdana;
  color: #766f62;
  margin: 0 0 0 20px;
  font-size: 11px;
  line-height: 18px;
}
td.hcontent5 div.leftBox p a:link, td.hcontent5 div.leftBox p a:visited {
  color: #cc6600;
  font-size: 11px;
  font-weight: normal;
}
td.hcontent5 div.leftBox hr {
  margin-left: 20px;
  width: 93%;
  border: 0;
  height: 2px;
  background-color: #d1c9b2;
}
div.footer-nav {
  display: none !important;
  background-image: none;
}
div.footer {
  background-image: url(/images/uploaded/template_images/site_footer_background.png) !important;
  background-repeat: no-repeat;
  width: 952px;
  overflow: hidden;
  height: 43px;
  margin-top: -31px;
}
div.footer p {
  display: none;
}
div.footer ul {
  margin: 9px 0 0 0;
  padding: 0;
}
div.footer ul li {
  display: inline-block;
  font-size: 11px;
  font-family: verdana;
}
div.footer ul li.divider {
  margin: 0 13px;
  font-size: 11px;
  color: #e36f1e;
}
div.footer ul li a:link, div.footer ul li a:visited {
  color: #b09438;
  font-size: 11px;
  text-decoration: none;
}

/* Interior Pages */
.innerContent {
  background-color: transparent !important;
  color: #584e3b;
  font-family: verdana;
}
.innerContent h1 {
  color: #4d4432;
}
.innerContent h2 {
  color: #9e8228;
  font-style: italic;
}
.innerContent p, .innerContent li {
  line-height: 20px;
}
.innerContent td td {
  padding: 10px;
}
.innerContent a {
 color: #cc6600;
 font-weight: normal;
}
div.main {
  margin: 20px 0 20px 0;
}

div.InteriorImage {
	margin-bottom: 23px;
}
td.subMenu {
	width: 244px;
	padding: 10px 0 0 0 !important;
}
td.subMenu div.heading {
  display: none;
}
td.subMenu ul.sub-menu
{
  font-family: Verdana, Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  border-bottom: solid 1px #fff;
  border-top: solid 1px #d1c9b2;
  list-style: none;
  list-style-image: none;
	background-color: transparent;
	width: 184px;
  margin: 11px 17px 0 16px;
  padding: 0;
}
td.subMenu ul.sub-menu li
{
  color: #cc6600;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #d1c9b2;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-left: 16px;
	background-color: transparent;
	text-align: left;
	width: 169px;
  background: transparent url(/images/uploaded/template_images/bullet_news.png) no-repeat 2px 14px;
}
td.subMenu ul.sub-menu li a:link, td.subMenu ul.sub-menu li a:visited
{
    color: #584e3b;
    text-decoration: none;
	background-color: transparent;
}
td.subMenu ul.sub-menu li a:hover, td.subMenu ul.sub-menu li a.current
{
    color: #b09438;
	background-color: transparent;
}

.jScrollPaneContainer {
  height: 170px !important;
  margin-top: 15px;
}

.jScrollPaneTrack {
  width: 12px !important;
  background: transparent url("/templates/truepointinc/images/scroll-slider-bg.png") repeat-y !important;
}
.jScrollPaneDrag {
  width: 12px !important;
  background: transparent url("/templates/truepointinc/images/scroll-ball.png") no-repeat 1px 0 !important;
  height: 11px !important;
}

.scroll {
  overflow: auto;
  height: 170px;
  padding-right: 15px;
}

#client_login {
	float: right;
	padding-top: 8px;
}

#client_login #FormsUser, #client_login #FormsPassword {
	margin: 0px;
	padding: 0px;
	padding-left: 5px;
	padding-top: 1px;
	border: none;
	margin-right: 5px;
	background: url("/templates/truepointinc/images/client_form.jpg") no-repeat;
	width: 113px;
	height: 19px;
	color: #444037;
	font-size: 10px;
}

#client_login #pass_label {
	margin: 0px;
	padding: 0px;
	position: absolute;
	padding-top: 4px;
	padding-left: 5px;
	font-family: 'Arial';
	font-size: 10px;
	color: #444037;
}

#client_login #LPLoginButton {
	margin: 0px;
	padding: 0px;
	border: none;
	background: url("/templates/truepointinc/images/client_go.jpg") no-repeat;
	width: 23px;
	height: 19px;
}

#subscribe a {
	color: #5d523d;
}

.links {
	float: left !important;
	text-align: right !important;
	width: 618px !important;
}

.links li {
	float: right !important;
}

.icons {
	float: right !important;
	padding-right: 16px !important;
	margin-top: -17px;
	text-align: left !important;
	width: 106px !important;
}

.icons li {
	margin-right: 5px;
}